@{
    ViewBag.Title = "Sobre";
}
<h1>@ViewBag.Title</h1>

<h2>Sua segurança é nossa prioridade</h2>

<p>Estamos comprometidos com os mais altos padrões de segurança e proteção de dados.
   Nossos sistemas, equipes e medidas de segurança são projetados para garantir seus dados e o dinheiro é seguro e protegido.
   Aderimos aos regulamentos financeiros internacionais e somos autorizados no Espaço Econômico Europeu (EEE).</p>
