
@{
    ViewBag.Title = "Investidor";
}

<h2>Investidor</h2>

<p>Bem vindo Investidor caso tenha interesse em nossas ideias entre no link abaixo e cadastre-se</p>
@Html.ActionLink("Novo Investidor", "Cadastrar")

